<!DOCTYPE html>
<html>
<div class="navbar">
    <ul class="nav nav-tabs" id="navId">
        <li class="nav-item">
            <a routerLink="/surveyform" routerLinkActive="active"
                [ngClass]="{'nav-link': true, 'active': currentRoute === '/surveyform'}">Survey Form</a>
        </li>
        <li class="nav-item">
            <a routerLink="/surveydata" routerLinkActive="active"
                [ngClass]="{'nav-link': true, 'active': currentRoute === '/surveydata'}">Survey Records</a>
        </li>
        <li class="nav-item">
            <a routerLink="/rxjs" routerLinkActive="active"
                [ngClass]="{'nav-link': true, 'active': currentRoute === '/rxjs'}">RXJS</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab1Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
    </div>
</div>

</html>